Django==4.2.11
django-cors-headers==4.1.0
django-simple-history==3.3.0
djangorestframework==3.14.0
gunicorn==22.0.0
mysqlclient==2.1.1
Pillow==10.3.0
ftfy
openpyxl
python-dotenv
djangorestframework-simplejwt
pandas