<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet" />

    <title>{{ payslip.title }}</title>
    <style>
        body {
            font-family: "Poppins", Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .container {
            width: 90%;
            margin: auto;
            padding: 20px;
            /* border: 1px solid #ccc; */
            position: relative;
        }

        .content {
            padding: 20px;
        }

        .header {
            text-align: center;
            margin-bottom: 20px;
        }

        .table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        table,
        .table th {
            padding: 8px;
            text-align: left;
        }

        .sub-table,
        .sub-table th {
            border: 1px solid #ccc;
            width: 100%;
            border-collapse: collapse;
        }

        .sub-table th,
        .sub-table td {
            padding: 6px;
            text-align: left;
        }

        .sub-table th {
            background-color: #f2f2f2;
        }

        .sub-table td {
            font-weight: normal;
        }

        .footer {
            text-align: right;
        }
    </style>
</head>

<body>
    <div class="container">
        <img style="position: absolute; top: 10; left: 10" alt="logo-cyc" src="data:image/png;base64,{{ logo }}"
            width="200px" />

        <table width="100%">
            <thead>
                <tr>
                    <th style="text-align: center" colspan="6">
                        <h4>C&C SERVICES S.A.S</h4>
                        <h4>Nit 900008653</h4>
                    </th>
                </tr>
                <tr>
                    <th style="text-align: center" colspan="6">
                        <h2>{{ payslip.title }}</h2>
                    </th>
                </tr>
                <tr>
                    <th style="text-align: left">
                        <h4 style="font-weight: 500">Nombre:</h4>
                        <h4 style="font-weight: 500">Identificación:</h4>
                    </th>
                    <th style="text-align: left">
                        <h4 style="font-weight: 500">{{ payslip.name }}</h4>
                        <h4 style="font-weight: 500">{{ payslip.identification }}</h4>
                    </th>
                    <th style="text-align: left">
                        <h4 style="font-weight: 500">Dias laborados:</h4>
                        <h4 style="font-weight: 500">Salario básico:</h4>
                    </th>
                    <th style="text-align: left">
                        <h4 style="font-weight: 500">{{ payslip.days}}</h4>
                        <h4 style="font-weight: 500">${{ payslip.salary }}</h4>
                    </th>
                    <th style="text-align: left">
                        <h4 style="font-weight: 500">Area:</h4>
                        <h4 style="font-weight: 500">Cargo:</h4>
                    </th>
                    <th style="text-align: right">
                        <h4 style="font-weight: 500">{{payslip.area}}</h4>
                        <h4 style="font-weight: 500">{{ payslip.job_title }}</h4>
                    </th>
                </tr>
                <tr>
                    <th style="border: 2px solid gray; background-color: #ccc; text-align: center" colspan="3">
                        <h3 style="margin: 0">DEVENGADO</h3>
                    </th>
                    <th style="border: 2px solid gray; background-color: #ccc; text-align: center" colspan="3">
                        <h3 style="margin: 0">DEDUCCIONES</h3>
                    </th>
                </tr>
                <tr>
                    <th style="display: table-cell; vertical-align: top" colspan="3">
                        <table class="sub-table" height="100%">
                            <thead>
                                <tr>
                                    <th>Concepto</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Quincena</td>
                                    <td style="border-left: solid 1px #ccc">${{ payslip.biweekly_period}}</td>
                                </tr>
                                <tr>
                                    <td>Subsidio de transporte</td>
                                    <td style="border-left: solid 1px #ccc">${{ payslip.transport_allowance }}</td>
                                </tr>
                                <tr>
                                    <td>Comision</td>
                                    <td style="border-left: solid 1px #ccc">${{payslip.bonus_paycheck}}</td>
                                </tr>
                                <tr>
                                    <td>Prima</td>
                                    <td style="border-left: solid 1px #ccc">${{payslip.biannual_bonus}}</td>
                                </tr>
                                <tr>
                                    <td>Intereses de cesantías</td>
                                    <td style="border-left: solid 1px #ccc">${{payslip.severance}}</td>
                                </tr>
                                <tr>
                                    <td>Recargo nocturno ({{payslip.surcharge_night_shift_hours}} horas)</td>
                                    <td style="border-left: solid 1px #ccc">${{payslip.surcharge_night_shift_allowance}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Recargo dominical o festivo ({{payslip.surcharge_night_shift_holiday_hours}}
                                        horas)</td>
                                    <td style="border-left: solid 1px #ccc">
                                        ${{payslip.surcharge_night_shift_holiday_allowance}}</td>
                                </tr>
                                <tr>
                                    <td>Recargo nocturno festivo ({{payslip.surcharge_holiday_hours}} horas)</td>
                                    <td style="border-left: solid 1px #ccc">${{payslip.surcharge_holiday_allowance}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </th>
                    <th colspan="3">
                        <table class="sub-table">
                            <thead>
                                <tr>
                                    <th>Concepto</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Aportes Salud</td>
                                    <td style="border-left: solid 1px #ccc">${{ payslip.healthcare_contribution }}</td>
                                </tr>
                                <tr>
                                    <td>Aporte Pensión</td>
                                    <td style="border-left: solid 1px #ccc">${{ payslip.pension_contribution }}</td>
                                </tr>
                                <tr>
                                    <td>Retefuente</td>
                                    <td style="border-left: solid 1px #ccc">${{ payslip.tax_withholding }}</td>
                                </tr>
                                <tr>
                                    <td>Otros Descuentos</td>
                                    <td style="border-left: solid 1px #ccc">${{payslip.additional_deductions}}</td>
                                </tr>
                                <tr>
                                    <td>Ap. Salud y Pensión Sobre Incentivo</td>
                                    <td style="border-left: solid 1px #ccc">${{payslip.apsalpen}}</td>
                                </tr>
                                <tr>
                                    <td>Fondo de Solidaridad ({{payslip.solidarity_fund_percentage}})</td>
                                    <td style="border-left: solid 1px #ccc">${{payslip.solidarity_fund}}</td>
                                </tr>
                                <tr>
                                    <td style="height: 25px"></td>
                                    <td style="border-left: solid 1px #ccc"></td>
                                </tr>
                                <tr>
                                    <td style="height: 22px"></td>
                                    <td style="border-left: solid 1px #ccc"></td>
                                </tr>
                            </tbody>
                        </table>
                    </th>
                </tr>
                <tr style="height: 10px">
                    <td colspan="6"></td>
                </tr>
                <tr>
                    <th colspan="2" style="text-align: end">
                        <h4 style="margin: 0">Total devengado</h4>
                    </th>
                    <th style="text-align: end">
                        <h4 style="margin: 0">${{ payslip.gross_earnings }}</h4>
                    </th>
                    <th colspan="2" style="text-align: end">
                        <h4 style="margin: 0">Total deducciones</h4>
                    </th>
                    <th style="text-align: end">
                        <h4 style="margin: 0">${{ payslip.total_deductions }}</h4>
                    </th>
                </tr>
                <tr style="height: 50px">
                    <td colspan="6"></td>
                </tr>
                <tr style="text-align: end; margin-top: 10px">
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th style="text-align: end; margin-top: 10px">
                        <h3 style="margin: 0">Neto a pagar</h3>
                    </th>
                    <th style="text-align: end">
                        <h3 style="margin: 0">${{ payslip.net_pay }}</h3>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</body>

</html>