<!DOCTYPE html>
<html lang="en">
  
  <head>
  <!-- {% load static %}
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vite + React</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha384-6v4b4rnW3qU/4jH9PnOFZB6CxW8BEi+BlmCZzJvSaot1bdWdD5G5LQ9Y9JhZwBsH" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha384-Rzv2ZPn6S0u6KM9JY7q3g78Wp0tx+TduLkavJz3qncTJDTkJnAxI0N9lRUByyvQl" crossorigin=""></script>
  <script type="module" crossorigin src="{% static 'company_map/assets/index-6931a954.js' %}"></script>
  <link rel="stylesheet" href="{% static 'company_map/assets/index-04490b11.css' %}"> -->
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <div id="root"></div>
  

</body>

</html>